<template>
  <v-container class="px-7" fluid-height fluid>
    <v-layout row wrap>
      <div class="text-center loading">
        <v-progress-circular
          :size="170"
          :width="3"
          color="primary"
          indeterminate
          v-if="houses.length == 0"
        ></v-progress-circular>
      </div>
      <v-flex xs12 sm6 md5 lg3 v-for="house in houses" :key="house.id">
        <v-sheet
          :color="transparent"
          class="pa-3"
          v-if="!house.id"
        >
          <v-skeleton-loader
            class="mx-auto"
            max-width="300"
            type="card"
          ></v-skeleton-loader>
        </v-sheet>
        <v-card class="ma-5" max-width="400" max-height="400">
          <v-img
            class="white--text align-end"
            height="200px"
            v-bind:src="house.image"
          />

          <v-card-subtitle class="pb-0">
            Located in {{ house.location }}
          </v-card-subtitle>
          <v-card-text class="text--primary"
            >This house has {{ house.bedrooms }} bedrooms and
            {{ house.bedrooms }} bathrooms.</v-card-text
          >
          <v-card-actions>
            <v-btn color="orange" text>
              <EditHouse />
            </v-btn>
            <v-btn color="orange" text> Delete </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style>
 .text-center.loading {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
</style>

<script>
import EditHouse from '../components/EditHouse';
import houseService from '../services/house.service';

export default {
  name: 'Home',
  components: { EditHouse },
  data: () => ({
    houses: [],
  }),
  mounted() {
    houseService.getAllHouses().then(
      (response) => {
        console.log('response:', response.houses);
        this.houses = response.houses;
      },
      (error) => {
        console.log(error);
      }
    );
  },
  inject: {
    theme: {
      default: { isDark: false },
    },
  },
};
</script>
