<template>
  <v-container fluid-height fluid>
    <v-layout justify-center align-center>
      <v-flex xs12 md4 xl3>
        <v-card height="70vh" class="flex-center my-10">
          <v-alert type="error" text v-if="error"
            >Wrong email or password</v-alert
          >
          <v-form ref="form" class="px-8" @submit.prevent="login">
            <h1 class="display-1">
              <v-icon color="primary" class="h1 v-iconi" left
                >mdi-login-variant</v-icon
              >
              <span>Login</span>
            </h1>
            <v-flex class="my-7">
              <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>

              <v-text-field
                v-model="password"
                :rules="passwordRules"
                label="Password"
                type="password"
                required
              ></v-text-field>
            </v-flex>
            
            <v-btn color="primary" dark block class="mr-4" type="submit">
              <span class="mr-5">login</span>
              <v-progress-circular
                indeterminate
                color="white"
                :width="3"
                :size="20"
                v-show="loading"
              ></v-progress-circular>
            </v-btn>
            
            <v-card-text>
              <p class="text-grey-6 my-2 text-center">
                Not Registered?
                <router-link :to="{ name: 'register' }">
                  Create account
                </router-link>
              </p>
            </v-card-text>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style>
.v-iconi {
  font-size: 35px !important;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.v-main__wrap {
  background: url('../assets/login.png') no-repeat center center fixed !important;
  background-size: cover;
}
</style>

<script>
export default {
  data: () => ({
    passwordRules: [(v) => !!v || 'password is required'],
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    loading: false,
    error: false,
    email: '',
    password: '',
  }),

  methods: {
    login() {
      if (this.email == '' && this.password == '') {
        this.$refs.form.validate();
      }
      if ((this.email || this.password) != null) {
        this.loading = true;
        const data = {
          email: this.email,
          password: this.password,
        };

        this.$store
          .dispatch('auth/login', data)
          .then((response) => {
            this.loading = false;
            console.log('Response:', response);
            this.$router.push('/house');
          })
          .catch(() => {
            this.loading = false;
            this.error = true;
          });
      }
    },
  },
};
</script>
