<template>
  <v-container fluid-height fluid>
    <v-layout justify-center align-center>
      <v-flex xs12 md4 xl3>
        <v-card class="flex-center my-5">
          <v-alert type="error" text v-show="error"
            >All fields are required</v-alert
          >
          <v-form ref="form" class="pa-5" @submit.prevent="register">
            <h1 class="display-1 pt-2">
              <v-icon color="primary" class="h1 v-iconi mb-1" left
                >mdi-account-plus-outline</v-icon
              >
              <span>Register</span>
            </h1>
            <v-flex class="my-5">
              <v-text-field
                v-model="name"
                :rules="[(v) => !!v || 'Name is required']"
                label="Names"
                required
              ></v-text-field>

              <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>

              <v-text-field
                v-model="phone"
                :counter="10"
                :rules="phoneRules"
                label="Phone Number"
                required
                type="number"
              ></v-text-field>

              <v-text-field
                v-model="birthdate"
                :rules="[(v) => !!v || 'Birthdate is required']"
                label="Birthdate"
                required
                type="date"
              ></v-text-field>

              <v-select
                v-model="gender"
                :items="genders"
                :rules="[(v) => !!v || 'gender is required']"
                label="Gender"
                required
              ></v-select>

              <v-select
                v-model="role"
                :items="roles"
                :rules="[(v) => !!v || 'role is required']"
                label="Role"
                required
              ></v-select>
            </v-flex>

            <v-btn color="primary" dark block class="mr-4" type="submit">
              <span class="mr-5">register</span>
              <v-progress-circular
                indeterminate
                color="white"
                :width="3"
                :size="20"
                v-show="loading"
              ></v-progress-circular>
            </v-btn>
            <v-card-text>
              <p class="text-grey-6 my-2 text-center">
                Already have an account?
                <router-link :to="{ name: 'login' }">
                  login
                </router-link>
              </p>
            </v-card-text>
          </v-form>
        </v-card>

        <template>
          <div class="text-center">
            <v-dialog v-model="dialog" width="400">
              <v-card class="text-center">
                <v-icon class="display-4" color="success"
                  >mdi-account-check</v-icon
                >
                <v-card-text>{{ message }}</v-card-text>

                <v-divider></v-divider>

                <v-card-actions class="justify-center">
                  <v-btn color="primary" @click="dialog = false">
                    <router-link :to="{ name: 'login' }">ok</router-link>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style>
.v-iconi {
  font-size: 35px !important;
}
.v-main__wrap {
  background: url('../assets/login.png') no-repeat center center fixed !important;
  background-size: cover;
}
</style>

<script>
export default {
  data: () => ({
    name: '',
    phone: '',
    birthdate: '',
    passwordRules: [(v) => !!v || 'password is required'],
    email: '',
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    phoneRules: [
      (v) => !!v || 'Phone Number is required',
      (v) =>
        (v && v.length <= 10) || 'Phone Number must be less than 10 characters',
    ],
    dialog: false,
    loading: false,
    role: null,
    gender: null,
    genders: ['male', 'female'],
    roles: ['client', 'landlord'],
    error: false,
    success: false,
    message: '',
  }),

  methods: {
    register() {
      this.$refs.form.validate();
      this.loading = true;
      const data = {
        name: this.name,
        phone: this.phone,
        email: this.email,
        role: this.role,
        gender: this.gender,
        birthdate: this.birthdate,
      };
      console.log(data);
      this.$store
        .dispatch('auth/register', data)
        .then((response) => {
          this.loading = false;
          console.log('Response:', response);
          this.success = true;
          this.message = response.data.message;
          this.dialog = !this.dialog;
        })
        .catch((error) => {
          console.log(error.toString());
          this.loading = false;
          this.error = true;
        });
    },
  },
};
</script>
