<template>
  <nav>
    <v-app-bar app color="white">
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase font-weight-black" color="primary"
        >Find Home</v-toolbar-title
      >
      <v-spacer></v-spacer>
      <v-btn outlined color="primary" v-if="isLogin" @click="logout">
        <span>Sign Out</span>
        <v-icon right>mdi-export</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer app v-model="drawer" color="primary" v-if="isLogin">
      <v-responsive class="white--text text-center my-15">
        <v-icon class="white--text display-4">mdi-account-circle</v-icon>
        <h1>{{ name }}</h1>
      </v-responsive>
      <v-list-item-group v-model="selectedlink" color="primary">
        <v-list-item
          v-for="(link, i) in links"
          :key="i"
          router
          :to="link.route"
        >
          <v-list-item-icon>
            <v-icon v-text="link.icon" class="white--text"></v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title
              v-text="link.text"
              class="white--text"
            ></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-navigation-drawer>
  </nav>
</template>

<style scoped>
nav {
  z-index: 999;
}
</style>

<script>
export default {
  data: () => ({
    name: '',
    drawer: false,
    isLogin: false,
    selectedlink: 0,
    links: [
      { text: 'Home', icon: 'mdi-home', route: '/house' },
      { text: 'Profile', icon: 'mdi-account', route: '/profile' },
      {
        text: 'New House',
        icon: 'mdi-sticker-plus-outline',
        route: '/addhouse',
      },
    ],
  }),
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn
    },
  },
  mounted() {
    if (this.loggedIn) {
      this.isLogin = true
      this.name = this.$store.state.auth.user.user.name
    }
    console.log(this.$store.state.auth)
  },
  methods: {
    showDrawer() {
      return (this.drawer = !this.drawer);
    },
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/login')
      this.isLogin = false
    },
  },
};
</script>
