<template>
  <v-app>
    <Navbar/>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<style>
  .v-main__wrap {
    background: url('./assets/login.png') no-repeat center center fixed !important;
    background-size: cover;
  }
</style>

<script>
import Navbar from '@/components/Navbar'
export default {
  name: 'App',
  components: {
    Navbar
  },
  data: () => ({
    //
  }),
};
</script>
